#!/bin/sh

# Start Prometheus directly with simple parameters
/bin/prometheus \
  --config.file=/etc/prometheus/prometheus.yml \
  --storage.tsdb.path=/prometheus \
  --web.enable-lifecycle

# Dashboard URLs for reference
# cAdvisor: https://grafana.com/grafana/dashboards/14282
# Node Exporter: https://grafana.com/grafana/dashboards/1860